#Dota 2 Ignored files
_CommonRedist
bin
dota
dota_ugc
EmptySteamDepot
platform
content/_toolautosave
content/core
content/dota
content/dota_core
content/dota_imported
content/dota_addons/addon_template
content/dota_addons/adventure_example
content/dota_addons/hero_demo
content/dota_addons/holdout_example
content/dota_addons/lua_ability_example
content/dota_addons/overthrow
content/dota_addons/rpg_example
content/dota_addons/tutorial_assist_game
content/dota_addons/tutorial_basics
content/dota_addons/ui_example
content/dota_addons/vpks
game/_toolsettings
game/bin
game/core
game/dota
game/dota_core
game/dota_imported
game/dota_koreana
game/dota_koreana_imported
game/dota_lv
game/dota_lv_imported
game/dota_schinese
game/dota_schinese_imported
game/thirdpartylegalnotices.txt
game/dota_addons/addon_template
game/dota_addons/adventure_example
game/dota_addons/hero_demo
game/dota_addons/holdout_example
game/dota_addons/lua_ability_example
game/dota_addons/overthrow
game/dota_addons/rpg_example
game/dota_addons/tutorial_assist_game
game/dota_addons/tutorial_basics
game/dota_addons/ui_example
game/dota_addons/vpks
game/dota_addons/dota2cfg.cfg
dota.exe
steam_appid.txt
thirdpartylegalnotices.txt

#TheVIP custom game Ignored files
theVIP.sublime-project
theVIP.sublime-workspace

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
